.product-title {
  text-align: center;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  width: 284px;
  height: 304px;
  padding: 10px;
  display: inline-block !important;
}

.product-image{
    width: 100%;   
}